html{
	width: 100%;
	height: 100%;
    font-family: 'Montserrat', sans-serif;
    scroll-behavior: smooth;
}
body{
	width: 100%;
	height: auto;
	margin: 0;
	padding: 0;
}
#header{
    position: fixed;
    margin-bottom: 300px;
    width: 100%;
    height: 300px;
    background-color: #141414;
    z-index: 1;
    top: 0;
    transition: 0.5s;
}
#profile{
    width: fit-content;
    height: fit-content;
    position: absolute;
    top: 50px;
    left: 50px;
    transition: 0.5s;
}
#profileImageOutline{
    float: left;
    width: 188px;
    height: 188px;
    border: 6px solid #990000;
    border-radius: 100px;
    transition: 0.5s;
}
#profilePict{
    width: 90%;
    height: 90%;
    float: left;
    margin-top: 4%;
    margin-left: 4%;
    border: 2px solid #FFFFFF;
    border-radius: 50%;
    transition: 0.5s;
}
#introduction{
    float: left;
    width: fit-content;
    left: 300px;
    top: 100px;
    position: absolute;
    height: fit-content;
    transition: 0.5s;
}
#hiThere{
    font-family: 'Roboto', sans-serif;
    color: #FFFFFF;
    font-size: 40px;
    font-weight: 400;
    margin: 0;
    padding: 0;
    visibility: visible;
    transition: 0.5s ;
}
#im{
    font-family: 'Roboto', sans-serif;
    color: #FFFFFF;
    font-size: 40px;
    font-weight: 400;
    width: fit-content;
    float: left;
    margin: 0;
    padding: 0;
    transition: 0.5s;
}
#name{
    font-family: 'Roboto', sans-serif;
    color: #FFFFFF;
    font-size: 40px;
    font-weight: 700;
    width: fit-content;
    float: left;
    margin: 0;
    margin-left: 15px;
    padding: 0;
    transition: 0.5s;
}
#navigation{
    width: fit-content;
    height: fit-content;
    margin-top: 10px;
    margin-right: 5px;
    float: right;
}
#drop{
    width: 0;
    height: 0;
    padding-right: 0;
    padding-left: 0;
    margin: 0;
    float: right;
}
#collapse{
    width: 0;
    height: 0;
    padding-right: 0;
    padding-left: 0;
    margin: 0;
    float: right;
}
#dropIcon{
    font-size: 0;
    color: #FFFFFF;
}
#collapseIcon{
    font-size: 0;
    color: #FFFFFF;
}
#dropDownContainer{
    visibility: hidden;
    width: 100%;
    height: fit-content;
    background-color: #141414;
    border-top: 5px solid #FFFFFF;
    position: absolute;
    top: 65px;
}
#navMenuDrop{
    width: 100%;
    height: fit-content;
    padding: 4px;
    margin-top: 3px;
    margin-bottom: 3px;
    float: left;
    text-decoration: none;
}
#navMenuInDrop{
    margin: 0;
    padding: 4px;
    width: fit-content;
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
    font-weight: 700;
    color: #990000;
    margin-left: auto;
    margin-right: auto;
}
#navMenuDrop:hover{
    transform: scale(1.1);
    transition: 0.2s ease;
}
#navMenu{
    width: fit-content;
    height: fit-content;
    padding: 4px;
    margin: 6px;
    float: left;
}
#navMenuIn{
    float: left;
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
    margin-right: 10px;
    margin-left: 10px;
    font-weight: 700;
    color: #990000;
    text-decoration: none;
}
#navMenuIn:hover{
    transform: scale(1.1);
    transition: 0.2s ease;
}
#AboutMeSection{
    width: 100%;
    height: fit-content;
    margin-top: 300px;
    padding-top: 100px;
    align-items: center;
    transition: 0.5s;
    padding-bottom: 150px;
    background-image: url(./image/AboutMeBG.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center top;
}
#SkillsSection{
    width: 100%;
    height: fit-content;
    padding-top: 90px;
    padding-bottom: 60px;
    align-items: center;
}
#ExperienceSection{
    width: 100%;
    height: fit-content;
    padding-top: 90px;
    align-items: center;
}
#EducationSection{
    width: 100%;
    height: fit-content;
    padding-top: 90px;
    padding-bottom: 100px;
    align-items: center;
}
#FooterSection{
    width: 100%;
    height: 150px;
    background-color: #141414;
    align-items: center;
}
#FooterSection a{
    cursor: pointer;
    float: right;
    margin-top: 20px;
    margin-right: 20px;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 5px;
    padding-bottom: 5px;
    background-color: #00000000;
    outline: none;
    border: 2px solid #FFFFFF;
    border-radius: 100px;
    color: #FFFFFF;    
    text-decoration: none;
    font-size: 12px;
}
#TitleSection{
    text-align: center;
    font-size: 35px;
    color: #990000;
    width: fit-content;
    margin-left: auto;
    margin-right: auto;
}
.aboutMeContainer{
    width: 65%;
    height: fit-content;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    color: black;
    font-size: 18px;
    font-weight: 500;
    margin-top: 40px;
}
.aboutMeText{
    margin-bottom: 30px;
}
.contactMeText{
    margin-top: 50px;
}
.contactContainer{
    margin-right: auto;
    margin-left: auto;
    width: 360px;
    height: 120px;
}
.linkedinContainer{
    width: 80px;
    height: 80px;
    border-radius: 10px;
    float: left;
    margin: 20px;
    background-color: #0072b1;
}
.whatsappContainer{
    width: 80px;
    height: 80px;
    border-radius: 10px;
    float: left;
    margin: 20px;
    background-color: #25D366;
}
.mailContainer{
    width: 80px;
    height: 80px;
    border-radius: 10px;
    float: left;
    margin: 20px;
    background-color: #FF4040;
}
.linkedinContainer:hover, .whatsappContainer:hover, .mailContainer:hover{
    transform: scale(1.1);
    transition: 0.2s ease;
}
#linkedinIcon{
    float: left;
    margin-left: 23%;
    margin-top: 20%;
    font-size: 50px;
    color: #FFFFFF;
}
#whatsappIcon{
    float: left;
    margin-left: 23%;
    margin-top: 20%;
    font-size: 50px;
    color: #FFFFFF;
}
#mailIcon{
    float: left;
    margin-left: 22%;
    margin-top: 21%;
    font-size: 45px;
    color: #FFFFFF;
}
.skillsContainer{
    width: 80%;
    height: 470px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    color: black;
    font-size: 18px;
    font-weight: 500;
    margin-top: 40px;
}
.skillsProgrammingContainer{
    width: 45%;
    height: 100%;
    float: left;
}
.skillsDesignContainer{
    width: 45%;
    height: 50%;
    float: right;
}
.skillsOtherContainer{
    width: 45%;
    height: 50%;
    float: right;
}
.skillsTitle{
    font-size: 25px;
    width: fit-content;
    float: left;
    margin: 0;
    margin-bottom: 10px;
}
.skillsBarContainer{
    float: left;
    width: 100%;
    height: fit-content;
    margin-top: 20px;
}
.skillsName{
    font-size: 17px;
    font-weight: 500;
    width: fit-content;
    float: left;
    margin: 0;
}
.skillsdetail{
    text-align: left;
    font-size: 17px;
    font-weight: 500;
    padding-top: 20px;
    font-size: 13px;
    width: fit-content;
    height: fit-content;
    margin: 0;
}
.androidSkill{
    font-size: 17px;
    font-weight: 500;
    width: 30%;
    float: left;
    margin: 0;
}
.skillBarFrameAndroid{
    width: 70%;
    height: 15px;
    float: right;
    border-radius: 10px;
    margin-top: 11px;
    background-color: #CCCCCC;
}
.skillBarFrame{
    width: 70%;
    height: 15px;
    margin-top: 3px;
    float: right;
    border-radius: 10px;
    background-color: #CCCCCC;
}
.skillHTML{
    float: left;
    height: 100%;
    width: 95%;
    border-radius: 10px;
    background-color: #990000;
}
.skillCSS{
    float: left;
    height: 100%;
    width: 90%;
    border-radius: 10px;
    background-color: #990000;
}
.skillJS{
    float: left;
    height: 100%;
    width: 70%;
    border-radius: 10px;
    background-color: #990000;
}
.skillUML{
    float: left;
    height: 100%;
    width: 70%;
    border-radius: 10px;
    background-color: #990000;
}
.skillAndroid{
    float: left;
    height: 100%;
    width: 65%;
    border-radius: 10px;
    background-color: #990000;
}
.skillJava{
    float: left;
    height: 100%;
    width: 65%;
    border-radius: 10px;
    background-color: #990000;
}
.skillReactNative{
    float: left;
    height: 100%;
    width: 60%;
    border-radius: 10px;
    background-color: #990000;
}
.skillC{
    float: left;
    height: 100%;
    width: 53%;
    border-radius: 10px;
    background-color: #990000;
}
.skillSQL{
    float: left;
    height: 100%;
    width: 40%;
    border-radius: 10px;
    background-color: #990000;
}
.skillPython{
    float: left;
    height: 100%;
    width: 40%;
    border-radius: 10px;
    background-color: #990000;
}
.skillUIUX{
    float: left;
    height: 100%;
    width: 95%;
    border-radius: 10px;
    background-color: #990000;
}
.skillLogoDesign{
    float: left;
    height: 100%;
    width: 70%;
    border-radius: 10px;
    background-color: #990000;
}
.skillVideoEditing{
    float: left;
    height: 100%;
    width: 65%;
    border-radius: 10px;
    background-color: #990000;
}
.skillIllustration{
    float: left;
    height: 100%;
    width: 30%;
    border-radius: 10px;
    background-color: #990000;
}
.skillLeadership{
    float: left;
    height: 100%;
    width: 95%;
    border-radius: 10px;
    background-color: #990000;
}
.skillTeamwork{
    float: left;
    height: 100%;
    width: 85%;
    border-radius: 10px;
    background-color: #990000;
}
.skillCreativity{
    float: left;
    height: 100%;
    width: 85%;
    border-radius: 10px;
    background-color: #990000;
}
.skillAnalysist{
    float: left;
    height: 100%;
    width: 55%;
    border-radius: 10px;
    background-color: #990000;
}
.experienceContainer{
    width: 80%;
    height: fit-content;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    color: black;
    font-size: 18px;
    font-weight: 500;
    margin-top: 60px;
}
.experienceCategory{
    width: fit-content;
    height: fit-content;
    margin-top: 30px;
}
.experienceCategoryOther{
    width: fit-content;
    height: fit-content;
    margin-top: 30px;
}
.experienceWork{
    color: #707070;
    font-size: 20px;
    width: fit-content;
    margin: 0;
    position: absolute;
    margin-top: 10px;
    margin-left: -14px;
}
.experienceOther{
    color: #707070;
    font-size: 20px;
    width: fit-content;
    margin: 0;
    position: absolute;
    margin-top: 10px;
    margin-left: -17px;
}
.Worktimeline{
    width: 5px;
    height: 410px;
    background-color: #707070;
    position: absolute;
    margin-top: 45px;
    margin-left: 8px;
    z-index: -1;
}
.Othertimeline{
    width: 5px;
    height: 170px;
    background-color: #707070;
    position: absolute;
    margin-top: 45px;
    margin-left: 8px;
    z-index: -1;
}
.Educationtimeline{
    width: 5px;
    height: 130px;
    background-color: #707070;
    position: absolute;
    margin-top: 45px;
    margin-left: 8px;
    z-index: -1;
}
.experience{
    width: 600px;
    height: 175px;
    margin-bottom: 30px;
}
.OtherExperience{
    width: 600px;
    height: 140px;
    margin-bottom: 30px;
}
.dotTimeline{
    position: absolute;
    z-index: 0;
    width: 10px;
    height: 10px;
    border: 5px solid #707070;
    background-color: #FFFFFF;
    border-radius: 20px;
    margin-top: 38px;
}
.jobContainer{
    width: 540px;
    height: 100%;
    float: right;
}
.jobTitle{
    font-size: 25px;
    font-weight: 700;
    width: fit-content;
    height: fit-content;
    text-align: left;
    margin: 0;
    float: left;
}
.slash{
    font-size: 25px;
    font-weight: 500;
    width: fit-content;
    height: fit-content;
    margin: 0;
    text-align: left;
    float: left;
    margin-left: 8px;
}
.jobPeriod{
    font-size: 25px;
    font-weight: 500;
    width: fit-content;
    height: fit-content;
    margin: 0;
    text-align: left;
    float: left;
    margin-left: 8px;
}
.jobPosition{
    font-size: 20px;
    font-weight: 700;
    width: 100%;
    height: fit-content;
    margin: 0;
    margin-top: 5px;
    text-align: left;
    float: left;
    color: #990000;
}
.jobPositionFreelance{
    font-size: 20px;
    font-weight: 700;
    width: 100%;
    height: fit-content;
    margin: 0;
    margin-top: 5px;
    text-align: left;
    float: left;
    color: #990000;
}
.jobDesc{
    font-size: 15px;
    font-weight: 500;
    width: fit-content;
    height: fit-content;
    margin: 0;
    margin-top: 5px;
    text-align: left;
    float: left;
    color: #404041;
}
.jobSite{
    font-size: 15px;
    font-weight: 500;
    width: fit-content;
    height: fit-content;
    margin: 0;
    margin-top: 5px;
    text-align: left;
    float: left;
    text-decoration: none;
    color: #990000;
}
.jobSite:hover{
    color: #FF4040;
    transition: 0.2s ease;
    margin-left: 5px;
}
.educationContainer{
    width: 80%;
    height: fit-content;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    color: black;
    font-size: 18px;
    font-weight: 500;
    margin-top: 60px;
}
.education{
    width: 650px;
    height: 100px;
    margin-bottom: 30px;
}
.eduContainer{
    width: 590px;
    height: 100%;
    float: right;
}
.institution{
    font-size: 25px;
    font-weight: 700;
    width: fit-content;
    height: fit-content;
    text-align: left;
    margin: 0;
    float: left;
}
.studyperiod{
    font-size: 25px;
    font-weight: 500;
    width: fit-content;
    height: fit-content;
    margin: 0;
    text-align: left;
    float: left;
    margin-left: 8px;
}
.majorclass{
    font-size: 20px;
    font-weight: 700;
    width: 100%;
    height: fit-content;
    margin: 0;
    margin-top: 5px;
    text-align: left;
    float: left;
    color: #990000;
}
@media screen and (max-width: 1200px){
    .skillsContainer{
        height: 650px;
    }
    .androidSkill{
        font-size: 17px;
        font-weight: 500;
        width: fit-content;
        float: left;
        margin: 0;
    }
    .skillsdetail{
        text-align: left;
        float: left;
        padding-top: 0px;
        font-size: 13px;
        margin: 0;
        margin-top: 2.5px;
        margin-left: 5px;
    }
    .skillBarFrameAndroid{
        width: 100%;
        float: left;
        margin-top: 5px;
    }
    .skillBarFrame{
        width: 100%;
        margin-top: 5px;
        float: left;
    }
}
@media screen and (max-width: 899px){
    #drop{
        width: fit-content;
        height: fit-content;
        padding-right: 5px;
        padding-left: 5px;
        margin: 6px;
        float: right;
    }
    #dropIcon{
        font-size: 33px;
        color: #FFFFFF;
    }
    #collapse{
        width: fit-content;
        height: fit-content;
        padding-right: 0;
        padding-left: 0;
        margin: 0;
        float: right;
    }
    #collapseIcon{
        font-size: 0;
        color: #FFFFFF;
    }
    #navMenu{
        padding: 0;
        margin: 0;
    }
    #navMenuIn{
        margin: 0;
        padding: 0;
        font-size: 0;
        margin-right: 0;
        margin-left: 0;
    }
    #navMenuIn:hover{
        transform: scale(1);
    }
}
@media screen and (max-width: 812px){
    .skillsProgrammingContainer{
        width: 100%;
        height: fit-content;
        float: left;
    }
    .skillsDesignContainer{
        margin-top: 50px;
        width: 100%;
        height: fit-content;
        float: left
    }
    .skillsOtherContainer{
        margin-top: 50px;
        width: 100%;
        height: fit-content;
        float: left
    }
    .skillsContainer{
        width: 80%;
        height: 1350px;
    }
    .education{
        width: 505px;
        height: 100px;
        margin-bottom: 30px;
    }
    .eduContainer{
        width: 445px;
        height: 100%;
        float: right;
    }
    .slash{
        font-size: 0;
        width: 0;
        height: 0;
        margin: 0;
        margin-left: 0;
    }
    .studyperiod{
        font-size: 25px;
        font-weight: 500;
        width: 100%;
        height: fit-content;
        margin: 0;
        text-align: left;
        float: left;
    }
    .majorclass{
        font-size: 0;
        width: 0;
        height: 0;
        margin-top: 0;
    }
    .Worktimeline{
        width: 5px;
        height: 300px;
        background-color: #707070;
        position: absolute;
        margin-top: 45px;
        margin-left: 8px;
        z-index: -1;
    }
    .Othertimeline{
        width: 5px;
        height: 150px;
        background-color: #707070;
        position: absolute;
        margin-top: 45px;
        margin-left: 8px;
        z-index: -1;
    }
    .experience{
        width: 505px;
        height: 115px;
        margin-bottom: 30px;
    }
    .OtherExperience{
        width: 505px;
        height: 120px;
        margin-bottom: 30px;
    }
    .experienceCategoryOther{
        width: fit-content;
        height: fit-content;
        margin-top: 50px;
    }
    .jobContainer{
        width: 445px;
        height: 100%;
        float: right;
    }
    .jobPeriod{
        font-size: 25px;
        font-weight: 500;
        width: 100%;
        height: fit-content;
        margin: 0;
        text-align: left;
        float: left;
        margin-left: 0;
    }
    .jobPositionFreelance{
        font-size: 16px;
        font-weight: 700;
        width: 100%;
        height: fit-content;
        margin: 0;
        margin-top: 5px;
        text-align: left;
        float: left;
        color: #990000;
    }
    .jobDesc{
        font-size: 0;
        width: 0;
        height: 0;
        margin: 0;
        margin-top: 0;
    }
}
@media screen and (max-width: 630px){
    .aboutMeContainer{
        width: 90%;
        height: fit-content;
    }
    .skillsContainer{
        width: 90%;
        height: 1350px;
    }
    .experienceContainer{
        width: 90%;
    }
    .educationContainer{
        width: 90%;
    }
}
@media screen and (max-width: 560px){
    .experience{
        width: 400px;
        height: 70px;
        margin-bottom: 30px;
    }
    .OtherExperience{
        width: 400px;
        height: 70px;
        margin-bottom: 30px;
    }
    .jobContainer{
        width: 360px;
        height: 100%;
        float: right;
    }
    .jobTitle{
        font-size: 20px;
        font-weight: 700;
        width: fit-content;
        height: fit-content;
        text-align: left;
        margin: 0;
        float: left;
    }
    .jobPeriod{
        font-size: 20px;
        font-weight: 500;
        width: fit-content;
        height: fit-content;
        margin: 0;
        text-align: left;
        float: left;
        margin-left: 8px;
    }
    .jobPosition{
        font-size: 15px;
        font-weight: 700;
        width: 100%;
        height: fit-content;
        margin: 0;
        margin-top: 5px;
        text-align: left;
        float: left;
        color: #990000;
    }
    .jobPositionFreelance{
        font-size: 11px;
        font-weight: 700;
        width: 100%;
        height: fit-content;
        margin: 0;
        margin-top: 5px;
        text-align: left;
        float: left;
        color: #990000;
    }
    .jobSite{
        font-size: 10px;
        font-weight: 500;
        width: fit-content;
        height: fit-content;
        margin: 0;
        margin-top: 5px;
        text-align: left;
        float: left;
        text-decoration: none;
        color: #990000;
    }
    .experienceWork{
        color: #707070;
        font-size: 15px;
        width: fit-content;
        margin: 0;
        position: absolute;
        margin-top: 5px;
        margin-left: -10px;
    }
    .experienceOther{
        color: #707070;
        font-size: 15px;
        width: fit-content;
        margin: 0;
        position: absolute;
        margin-top: 5px;
        margin-left: -13px;
    }
    .dotTimeline{
        position: absolute;
        z-index: 0;
        width: 10px;
        height: 10px;
        border: 5px solid #707070;
        background-color: #FFFFFF;
        border-radius: 20px;
        margin-top: 25px;
    }
    .Worktimeline{
        width: 5px;
        height: 200px;
        background-color: #707070;
        position: absolute;
        margin-top: 42px;
        margin-left: 8px;
        z-index: -1;
    }
    .Othertimeline{
        width: 5px;
        height: 100px;
        background-color: #707070;
        position: absolute;
        margin-top: 42px;
        margin-left: 8px;
        z-index: -1;
    }
    .Educationtimeline{
        width: 5px;
        height: 100px;
        background-color: #707070;
        position: absolute;
        margin-top: 42px;
        margin-left: 8px;
        z-index: -1;
    }
    .education{
        width: 400px;
        height: 70px;
        margin-bottom: 30px;
    }
    .eduContainer{
        width: 360px;
        height: 100%;
        float: right;
    }    
    .institution{
        font-size: 20px;
        font-weight: 700;
        width: fit-content;
        height: fit-content;
        text-align: left;
        margin: 0;
        float: left;
    }
    .studyperiod{
        font-size: 20px;
        font-weight: 500;
        width: 100%;
        height: fit-content;
        margin: 0;
        text-align: left;
        float: left;
    }
}
@media screen and (max-width: 472px){
    .contactMeText{
        margin-top: 30px;
    }
}
@media screen and (max-width: 445px){
    .experience{
        width: 290px;
        height: 90px;
        margin-bottom: 15px;
    }
    .OtherExperience{
        width: 290px;
        height: 90px;
        margin-bottom: 15px;
    }
    .jobContainer{
        width: 240px;
        height: 100%;
        float: right;
    }
    .experienceCategoryOther{
        width: fit-content;
        height: fit-content;
        margin-top: 20px;
    }
    .jobTitle{
        font-size: 20px;
        font-weight: 700;
        width: fit-content;
        height: fit-content;
        text-align: left;
        margin: 0;
        float: left;
    }
    .jobPeriod{
        font-size: 20px;
        font-weight: 500;
        width: 100%;
        height: fit-content;
        margin: 0;
        text-align: left;
        float: left;
    }
    .jobPosition{
        font-size: 15px;
        font-weight: 700;
        width: 100%;
        height: fit-content;
        margin: 0;
        margin-top: 5px;
        text-align: left;
        float: left;
        color: #990000;
    }
    .jobPositionFreelance{
        visibility: hidden;
        font-size: 0;
        font-weight: 700;
        width: 100%;
        height: fit-content;
        margin: 0;
        margin-top: 0;
        text-align: left;
        float: left;
        color: #990000;
    }
    .jobSite{
        font-size: 10px;
        font-weight: 500;
        width: fit-content;
        height: fit-content;
        margin: 0;
        margin-top: 5px;
        text-align: left;
        float: left;
        text-decoration: none;
        color: #990000;
    }
    .experienceWork{
        color: #707070;
        font-size: 15px;
        width: fit-content;
        margin: 0;
        position: absolute;
        margin-top: 5px;
        margin-left: -10px;
    }
    .experienceOther{
        color: #707070;
        font-size: 15px;
        width: fit-content;
        margin: 0;
        position: absolute;
        margin-top: 5px;
        margin-left: -13px;
    }
    .dotTimeline{
        position: absolute;
        z-index: 0;
        width: 10px;
        height: 10px;
        border: 5px solid #707070;
        background-color: #FFFFFF;
        border-radius: 20px;
        margin-top: 25px;
    }
    .Worktimeline{
        width: 5px;
        height: 200px;
        background-color: #707070;
        position: absolute;
        margin-top: 43px;
        margin-left: 8px;
        z-index: -1;
    }
    .Othertimeline{
        width: 5px;
        height: 100px;
        background-color: #707070;
        position: absolute;
        margin-top: 43px;
        margin-left: 8px;
        z-index: -1;
    }
    .Educationtimeline{
        width: 5px;
        height: 110px;
        background-color: #707070;
        position: absolute;
        margin-top: 43px;
        margin-left: 8px;
        z-index: -1;
    }
    .education{
        width: 290px;
        height: 95px;
        margin-bottom: 15px;
    }
    .eduContainer{
        width: 240px;
        height: 100%;
        float: right;
    }    
    .institution{
        font-size: 20px;
        font-weight: 700;
        width: fit-content;
        height: fit-content;
        text-align: left;
        margin: 0;
        float: left;
    }
    .studyperiod{
        font-size: 20px;
        font-weight: 500;
        width: 100%;
        height: fit-content;
        margin: 0;
        text-align: left;
        float: left;
    }
    .skillsTitle{
        font-size: 20px;
        width: fit-content;
        float: left;
        margin: 0;
        margin-bottom: 0;
    }
    .skillsContainer{
        height: 1300px;
    }
}
@media screen and (max-width: 360px){
    .contactContainer{
        margin-right: auto;
        margin-left: auto;
        width: 300px;
        height: 100px;
    }
    .linkedinContainer{
        width: 70px;
        height: 70px;
        border-radius: 10px;
        float: left;
        margin: 15px;
        background-color: #0072b1;
    }
    .whatsappContainer{
        width: 70px;
        height: 70px;
        border-radius: 10px;
        float: left;
        margin: 15px;
        background-color: #25D366;
    }
    .mailContainer{
        width: 70px;
        height: 70px;
        border-radius: 10px;
        float: left;
        margin: 15px;
        background-color: #FF4040;
    }
    .linkedinContainer:hover, .whatsappContainer:hover, .mailContainer:hover{
        transform: scale(1.1);
        transition: 0.2s ease;
    }
    #linkedinIcon{
        float: left;
        margin-left: 23%;
        margin-top: 20%;
        font-size: 45px;
        color: #FFFFFF;
    }
    #whatsappIcon{
        float: left;
        margin-left: 23%;
        margin-top: 20%;
        font-size: 45px;
        color: #FFFFFF;
    }
    #mailIcon{
        float: left;
        margin-left: 22%;
        margin-top: 21%;
        font-size: 40px;
        color: #FFFFFF;
    }
}