html{
    background-color: #1B1C1E;
}
body{
    background-color: #1B1C1E;
    color: #F8F8F8;
    font-size: 10px;
    font-family: 'Questrial', sans-serif;
}
h1{
    font-size: 3em;
    font-family: 'Averia Serif Libre', cursive;
}
.redirectText{
    font-size: 1.3em;
    color: rgb(135, 135, 135);
}
.redirectText::after{
    content: " ";
    animation: redirectAnimate 2s infinite;
}
@keyframes redirectAnimate{
    from{content: " .";}
    50%{content: " . .";}
    to{content: " . . .";}
}