html{
	width: 100%;
	height: 100%;
    font-family: 'Montserrat', sans-serif;
    scroll-behavior: smooth;
}
body{
	width: 100%;
	height: auto;
	margin: 0;
	padding: 0;
}
#header{
    position: fixed;
    margin-bottom: 300px;
    width: 100%;
    height: 300px;
    background-color: #141414;
    z-index: 1;
    top: 0;
    transition: 0.5s;
}
#profile{
    width: fit-content;
    height: fit-content;
    position: absolute;
    top: 50px;
    left: 50px;
    transition: 0.5s;
}
#profileImageOutline{
    float: left;
    width: 188px;
    height: 188px;
    border: 6px solid #990000;
    border-radius: 100px;
    transition: 0.5s;
}
#profilePict{
    width: 90%;
    height: 90%;
    float: left;
    margin-top: 4%;
    margin-left: 4%;
    border: 2px solid #FFFFFF;
    border-radius: 50%;
    transition: 0.5s;
}
#introduction{
    float: left;
    width: fit-content;
    left: 300px;
    top: 100px;
    position: absolute;
    height: fit-content;
    transition: 0.5s;
}
#hiThere{
    font-family: 'Roboto', sans-serif;
    color: #FFFFFF;
    font-size: 40px;
    font-weight: 400;
    margin: 0;
    padding: 0;
    visibility: visible;
    transition: 0.5s ;
}
#im{
    font-family: 'Roboto', sans-serif;
    color: #FFFFFF;
    font-size: 40px;
    font-weight: 400;
    width: fit-content;
    float: left;
    margin: 0;
    padding: 0;
    transition: 0.5s;
}
#name{
    font-family: 'Roboto', sans-serif;
    color: #FFFFFF;
    font-size: 40px;
    font-weight: 700;
    width: fit-content;
    float: left;
    margin: 0;
    margin-left: 15px;
    padding: 0;
    transition: 0.5s;
}
#navigation{
    width: fit-content;
    height: fit-content;
    margin-top: 10px;
    margin-right: 5px;
    float: right;
}
#navMenu{
    width: fit-content;
    height: fit-content;
    padding: 4px;
    margin: 6px;
    float: left;
}
#navMenuIn{
    float: left;
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
    margin-right: 10px;
    margin-left: 10px;
    font-weight: 700;
    color: #990000;
    text-decoration: none;
}
#navMenuIn:hover{
    transform: scale(1.1);
    transition: 0.2s ease;
}
#AboutMeBG{
    background-image: url(./image/AboutMeBackground.jpg);
    width: 100%;
    height: 1080px;
    margin-top: 300px;
    opacity: 0.2;
    background-repeat: no-repeat;
    background-size: cover;
    transition: 0.5s;
}
#AboutMeSection{
    width: 100%;
    height: 100;
    margin-top: -1080px;
    padding-top: 100px;
    align-items: center;
}
#SkillsSection{
    width: 100%;
    height: 100;
    padding-top: 100px;
    align-items: center;
}
#ExperienceSection{
    width: 100%;
    height: 100;
    padding-top: 100px;
    align-items: center;
}
#TitleSection{
    text-align: center;
}